*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

.game-board{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 70px;
    right: -90px;
    animation: animation-pipe 2s infinite linear;
}

.mario{
    width: 140px;
    position: absolute;
    bottom: 0;
    left: -20px;
}

.jump{
    animation: animation-jump 500ms ease-out;
}

@keyframes animation-pipe{
    from  {
        right: 0;
    }
    
    to {
        right: 100%;
    }
}

@keyframes animation-jump{
    0% {
      bottom: 0;  
    }
 
    40%{
        bottom: 19.0rem;
    }

    50% {
        bottom: 19.0rem;
    }

    60%{
        bottom: 16.0rem;
    }
    
    100%{
        bottom: 0;
    }
}