*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

.game-board{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    border-bottom: 7px solid rgb(121, 171, 46);
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB,#E0F6FF);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 70px;
    right: -90px;
    animation: animation-pipe 1.5s infinite linear;
}

.mario{
    width: 140px;
    position: absolute;
    bottom: 0;
    left: -20px;
}

.jump{
    animation: animation-jump 500ms ease-out;
}

.claus{
    position: absolute;
    width: 550px;
    
    animation: animation-claus 20s infinite linear;
}

@keyframes animation-claus{
    from  {
        right: 0;
    }
    
    to {
        right: 100%;
    }
}


@keyframes animation-pipe{
    from  {
        right: 0;
    }
    
    to {
        right: 100%;
    }
}

@keyframes animation-jump{
    0% {
      bottom: 0;  
    }
 
    40%{
        bottom: 19.0rem;
    }

    50% {
        bottom: 19.0rem;
    }

    60%{
        bottom: 16.0rem;
    }
    
    100%{
        bottom: 0;
    }
}